.navbar {
    background-color: #7D7C7C;
    height: 10vh;
  }
  
  .list {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
    list-style: none;
  }
  
  .list li {
    text-decoration: none;
    text-decoration-line: none;
    text-transform: uppercase;
  }
  
  .list li:hover {
    color: #9BBEC8;
  }